*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

main {
  display: flex;
  .row {
    position: relative;
    flex: 1;
    max-height: 100vh;
    overflow-y: scroll;
    h1 {
      margin-bottom: 1rem;
      margin-inline: 1rem;
    }
    h2 {
      margin-bottom: 0.75rem;
      margin-inline: 3rem;
    }

    ul {
      ul {
        width: 100%;
      }
      width: 75%;
      margin-inline: auto;
    }
  }

  @media (max-width: 980px) {
    flex-direction: column;
  }
}
